@import "tailwindcss";
*, *::before, *::after{
	box-sizing: border-box;
}
:root{
  font-family:"Inter", "sans-serif";
  color: #000;
  scrollbar-width: 0px;
  scrollbar-color: transparent;
	box-sizing: border-box;
}
body {

}


/* For browsers that support `scrollbar-*` properties */
@supports (scrollbar-color: auto) {
  body {
  scrollbar-color: transparent;
  scrollbar-width: 0px; 
  }
}

/* Otherwise, use `::-webkit-scrollbar-*` pseudo-elements */
@supports selector(::-webkit-scrollbar) {
  html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
		display: none !important;
  }
  html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
		display: none !important;
  }
}
