@import "tailwindcss";
:root{
  font-family:"Inter", "sans-serif";
  color: #fff;
  scrollbar-width: 0px;
  scrollbar-color: transparent;
}
body {

}


/* For browsers that support `scrollbar-*` properties */
@supports (scrollbar-color: auto) {
  body {
  scrollbar-color: transparent;
  scrollbar-width: 0px; 
  }
}

/* Otherwise, use `::-webkit-scrollbar-*` pseudo-elements */
@supports selector(::-webkit-scrollbar) {
  #app::-webkit-scrollbar-track {
  background: #000;
  }
  #app::-webkit-scrollbar-thumb {
  background: #000;
  }
}
